*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
gradle/.tmp/gradle_download13454887509855232014bin
*.flat
*.bin
*.jar
*.bat
*.ok
*.zip
*.dylib
*.lock
*.txt
*.lck
*.xml
*.png
*.properties
*.dex
*.1
*.0-runtime
*.receipt
*.1-runtime
*.class
*.5-runtime
*.aidl
gradle/wrapper/dists/gradle-7.3.3-bin/6a41zxkdtcxs8rphpq6y0069z/gradle-7.3.3/bin/gradle
*.jnilib
*.xml
*.xml
gradle/wrapper/dists/gradle-7.3.3-bin/6a41zxkdtcxs8rphpq6y0069z/gradle-7.3.3/NOTICE
*.log
*.MF
*.0
*.4
*.4-runtime
gradle/caches/transforms-3/738d3ba6cf2d997e259dd4caa0b44f79/transformed/aapt2-7.2.0-7984345-osx/NOTICE
gradle/caches/transforms-3/738d3ba6cf2d997e259dd4caa0b44f79/transformed/aapt2-7.2.0-7984345-osx/aapt2
*.3-runtime
gradle/wrapper/dists/gradle-7.3.3-bin/6a41zxkdtcxs8rphpq6y0069z/gradle-7.3.3/LICENSE
gradle/wrapper/dists/gradle-7.3.3-bin/6a41zxkdtcxs8rphpq6y0069z/gradle-7.3.3/README
.idea/misc.xml
.idea/compiler.xml
*.xml
.idea/compiler.xml
